body {
    margin: 0;
}


header {
    width: 100%;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.black-color {
    color: black;
}

p {
    font-size: 16px;
}

.portfolio img {
    margin: 0 auto;
    object-fit: cover;
}

.fa {
    color: black!important;
}

.bloc .container {
    padding-left: 0;
    padding-right: 0;
}

/*.bg-presentation {
    background-image: url(/img/la-chouette-agence-banniere.jpg) no-repeat;
    width: 100%;
    height: 500px;
}*/

.lienContact:hover {
    color: white!important;
}

#bloc-6 {
    height: 317px;
}